@font-face {
    font-family: MyriadPro;
    src: url(../app/resources/MYRIADPRO-REGULAR.OTF);
}

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
	background-color: #334;
}
h1 {
	color: #FFF;
}
#App {
	background-color: #000;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	border: 10px solid #559;
	position: center;
	clear: both;
	display: table;
	text-align: center;
}
.movie {
	font-family: MyriadPro;
	margin: 2px;
	width: 250px;
	height: 400px;
	position: relative;
	border:10px solid rgba(41, 41, 41, 1);
	float: left;
	
	left: 0;
	right: 0;


	//non selectable text variables
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	box-shadow:  1px 1px 1px #000;
	overflow: hidden;

}	

.movie #options {
	position: absolute;
	display: none;
}

.movie #front{
	text-align: center;
	width: 100%;
	display: none;
	background-color: #777;
  padding-bottom:10px;
  box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.5);
}

.title {
	text-shadow: 0 2px 2px #000;
	padding-top: 10px;
	color: #FFF;
	font-size: 40px;
}
.genre , .year{
	color: #333;
	font-size: 20px
}

.movie .image{
	height: 100%;
	width: 100%;
}

#options {
	width: 100%;
	height: 100%;
}

#edit.button{

	border: 0px;
	background-color: #0A1;
	width: 70%;
	height: 100%;
}

#edit.button:hover {
	background-color: #091;
}

#remove.button{
		float:left;
	position:inline;
	width: 30%;
	height: 100%;
	display: inline-block;
	border: 0px;
	background-color: #E00;
}

#remove.button:hover {
	background-color: #A00;
}