<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>05 Backbone</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<header>
		<span><h1> This is a cool Title </h1></span>

	</header>
	<section>
		
		
		<div id="App">

			<script id='formTemplate' type='text/template'>
				<form class='MovieForm' action=''>
					<input type='text' class='title' placeholder= 'Title here...' >
					<input type='text' class='genre' placeholder= 'Genre...'>
					<input type='text' class='year' placeholder= 'Year...'> 
					<input type='submit' value='Ok'>
				</form>
			</script>


			<script id='movieTemplate' type='text/template'>

				<div id='options'>
					<button id='edit' class='button' alt=''>
						<img src='app/resources/edit.png' alt='Edit'/>
					</button>
					<button id='remove' class='button' alt=''>
						<img src='app/resources/Remove.png' alt='Remove'/>
					</button>
				</div>
				<div id="front">
					<div class='title'>
						<%= title %>
					</div>  
					<div class='year'><%= year %></div> 
					<div class='genre'><%= genre %></div> 
				</div>
				<img class='image'>

			</script>

			<script id='newMovieTemplate' type='text/template'>

				<div id='options'>
					<button id='Add' class='button' alt=''><img src='' alt=''/>Add Movie</button>
				</div>

			</script>

			<script id='collectionTemplate' type='text/template'>
				<div id='FilmsCollection' class='Collection'>
					<div id='Title'> My Movie Collection </div>
					<div class='content'>
						//Movies in here
					</div>
				</div>
			</script>
		

			
			
		</div>
			<form class='newMovieForm' action=''>
					<input type='text' class='title' placeholder= 'Title here...' >
					<input type='text' class='genre' placeholder= 'Genre...'>
					<input type='text' class='year' placeholder= 'Year...'> 
					<input type='submit' value='Ok'>
			</form>
			

		
		<script data-main='app' src='lib/require.js'></script>
		
	</section>
	<footer>
	</footer>
</body>
</html>