<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>05 Backbone</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">

	<script data-main="app" src="lib/require.js"></script>

</head>
<body>
	<header>
		<h1> Movies </h1>
		<form class="MovieForm" action="">
			 Title: <input type="text" name="title" value="Harry Potter">
			 Genre: <input type="text" name="genre" value="Fantasy">
			 Year: <input type="text" name="year" value="2001"> 
			 <input type="submit" value="+">
		</form>
	</header>
	<section>

		
		<div id="App">
			
		</div>

		<script id="movieTemplate" type="text/template">
			<div class='title'>
				<button class='edit'>E</button><button class='remove'>X</button><%= title %>
			</div>  
			<div class='year'><%= year %></div> 
			<div class='genre'><%= genre %></div> 
			<img class='image'>

		</script>

		<script id="libraryTemplate" type="text/template">

		</script>
		
		<script src="script.js"></script>
	</section>
</body>
</html>